.tentativa{
    display: flex;
    justify-content: space-around;
    align-items: row;
    width: 100%;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.word{
    display: flex;
    flex-wrap: nowrap;
    grid-gap: 0.5vh;
    justify-content: center;
}  
.letter{
    width: 8vmin;
    height: 8vmin;
    border-radius: 10%;
    background-color: #615458;
    color: #fff;
    font-size: 3vmin;
}
.mudaCor{
    color: green;
}
.mudaCor2{
    color: blue;
}