.tentativa{
    display: flex;
    justify-content: space-around;
    align-items: row;
    width: 100%;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    margin: 10px 5px;
    padding: 10px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    border-radius: 5px;
    font-family: "Permanent Marker", cursive;
  }

.mudaCor{
    color: green;
}
.mudaCor2{
    color: blue;
}