.centro{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.formulario{
    display: flex;
    width: 60%;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    padding: 5px;
    align-self: center;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: rgb(166, 157, 157);
}
.information{
    border:none;
    outline-width: 0;
    margin: 5px;
    font-size: 20px;
    background-color: rgb(214, 209, 209);
}
.label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
}
.btn {
    text-decoration: none;
    color: black;
    position: relative;
    display: block;
    padding: 10px 15px;
    margin: 5px;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    background-color: #6e5c62;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 20px;
}
.btn > * {
    position: relative;
}
.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, 0.3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}